<% include("../layouts/header.ejs")%>
    <h1>Admin Dashboard</h1>

    <a href="/admin/profile">My Profile</a>
    <br><br>
    <a href="/admin/newUser">Add New Users</a>

    <center>
        <h2>Users Lists</h2>

        <table width="50%" border="2">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Image</th>
                <th>Verified</th>
                <th>Action</th>
            </tr>

            <% if(Users.length> 0){
                for(let i=0;i<Users.length;i++) { %>
                    <tr>
                        <td>
                            <%= Users[i].name%>
                        </td>
                        <td>
                            <%= Users[i].email%>
                        </td>
                        <td>
                            <%= Users[i].mobile%>
                        </td>
                        <td><img src="/userImages/<%= Users[i].image%>" alt="><%= Users[i].image%>" width="100px"
                                height="100px"></td>
                        <td>
                            <% if(Users[i].is_verified===0) { %>
                                <p>Not Verified</p>
                                <% }else{ %>
                                    <p>Verified</p>
                                    <% } %>
                        </td>
                        <!-- ?id is a query parameter which is used to pass the id of the user to be edited to the editUser route -->
                        <td>
                            <a href="/admin/editUser?id=<%= Users[i]._id%>">Edit</a> <br><br>
                            <a href="/admin/deleteUser?id=<%= Users[i]._id%>">Delete</a>

                        </td>
                    </tr>
                    <% } }else{ %>
                        <tr>
                            <td colspan="5">Users Not Found</td>
                        </tr>
                        <% } %>

        </table>
    </center>

    <br><br>
    <div>
        <a href=" /admin/logout">Logout</a>
    </div>


    <% include("../layouts/footer.ejs")%>